@model CreateViewModel

@{
    ViewData["Title"] = "Nueva Incubadora";
    var serverValidationSuccess = ViewData.ModelState.IsValid;
}

<div class="container-small">

    <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
            <form asp-action="Create" asp-antiforgery="true" class="needs-validation" novalidate="">
                <h3 class="mb-5">
                    <span class="fa-solid fa-plus"></span>
                    @ViewData["Title"]
                </h3>
                <div class="row g-4">
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Name">Nombre</label>
                        <input asp-for="Name" class="form-control" type="text" placeholder="Nombre" required />
                        <div class="invalid-feedback">Debes ingresar un nombre válido.</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Key">Llave</label>
                        <input class="form-control" type="text" placeholder="Llave" asp-for="Key" required />
                        <div class="invalid-feedback">Debes proveer una llave válida.</div>
                    </div>
                    <div class="col-12">
                        <label class="form-label" asp-for="Description">Descripción</label>
                        <textarea class="form-control" asp-for="Description" placeholder="Descripción"></textarea>
                    </div>
                    <div class="col-12">
                        <label asp-for="PackageVersionId" class="form-label">Paquete</label>
                        <select asp-for="PackageVersionId" class="form-select" asp-items="Model.PackageOptions" required >
                            <option value="">Seleccione un paquete</option>
                        </select>
                        <div class="invalid-feedback">Debes escoger un paquete.</div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary px-8 px-sm-11 me-2" type="submit">Guardar</button>
                        <a asp-action="Index" asp-controller="Home" asp-area="BusinessIncubators" class="btn btn-link btn-sm">cancelar</a>
                    </div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="invalid-feedback" style="display:block">
                            @Html.ValidationSummary()
                        </div>
                    }

                </div>
            </form>
        </div>
        <div class="col-lg-5 col-xl-4 position-relative d-none d-lg-block">
            <div class="bg-holder" style="background-image:url(/assets/img/layout/add-incubator.png);">
            </div>
        </div>
    </div>
</div>
