<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

<head>
    <partial name="_HeadPartial" />

    <title>@ViewData["Title"] - Mentoory</title>

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>

    <main class="main" id="top">

        @RenderBody()

    </main>

    <partial name="_BottomPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>