<div class="search-box navbar-top-search-box d-none" data-list='{"valueNames":["title"]}' style="width:25rem;">
    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
        <input class="form-control search-input fuzzy-search rounded-pill form-control-sm" type="search" placeholder="Buscar..." aria-label="Buscar" />
        <span class="fas fa-search search-box-icon"></span>

    </form>
    <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
        <button class="btn btn-link p-0" aria-label="Close"></button>
    </div>
    <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100">
        <div class="scrollbar-overlay" style="max-height: 30rem;">
            <div class="list pb-3">
                <h6 class="dropdown-header text-body-highlight fs-10 py-2">24 <span class="text-body-quaternary">resultados</span></h6>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Búsquedas recientes </h6>
                <div class="py-2">
                    <a class="dropdown-item" href="~/">
                        <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Proyecto Alteza</div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="~/">
                        <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Usuario: dperez</div>
                        </div>
                    </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Proyectos</h6>
                <div class="py-2">
                    <a class="dropdown-item py-2 d-flex align-items-center" href="~/">
                        <div class="file-thumbnail me-2"><img class="h-100 w-100 object-fit-cover rounded-3" src="~/" alt="" /></div>
                        <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">Proyecto Margarita</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">Finalizado</span></p>
                        </div>
                    </a>
                    <a class="dropdown-item py-2 d-flex align-items-center" href="~/">
                        <div class="file-thumbnail me-2"><img class="img-fluid" src="~/" alt="" /></div>
                        <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">Proyecto Niños altos</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">En curso</span></p>
                        </div>
                    </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Enlaces rápidos</h6>
                <div class="py-2">
                    <a class="dropdown-item" href="~/">
                        <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> ¿Cómo ingreso mis datos?</div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="~/">
                        <div class="d-flex align-items-center">

                            <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Tiempo de respuesta</div>
                        </div>
                    </a>

                </div>
                <hr class="my-0" />
                <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Usuarios</h6>
                <div class="py-2">
                    <a class="dropdown-item py-2 d-flex align-items-center" href="~/">
                        <div class="avatar avatar-l status-online  me-2 text-body">
                            <img class="rounded-circle " src="~/assets/img/team/40x40/10.webp" alt="" />

                        </div>
                        <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">Carry Anna</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary">anna@technext.it</p>
                        </div>
                    </a>
                    <a class="dropdown-item py-2 d-flex align-items-center" href="~/">
                        <div class="avatar avatar-l  me-2 text-body">
                            <img class="rounded-circle " src="~/assets/img/team/40x40/12.webp" alt="" />

                        </div>
                        <div class="flex-1">
                            <h6 class="mb-0 text-body-highlight title">John Smith</h6>
                            <p class="fs-10 mb-0 d-flex text-body-tertiary">smith@technext.it</p>
                        </div>
                    </a>

                </div>
            </div>
            <div class="text-center">
                <p class="fallback fw-bold fs-7 d-none">No Result Found.</p>
            </div>
        </div>
    </div>
</div>
